.main__sobrenosotros{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 10px;
margin-bottom: 40px;
    .sobrenosotros{
        text-align: center;
    }
}



.ubicacion{
margin-top: 10px;
}