/* @media (min-width: 320px) and (max-width: 575px)*/

@media (min-width: 320px) and (max-width: 575px) {

    header {
        background-color: white;
        height: auto;
        margin: 10px;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .header__logo {
            width: 60px;
            height: 60px;

        }

        .header__lista {
            display: flex;
            list-style: none;
            padding: 0 16px;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        .header__nav {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header__item {
            padding: 20px;

            & a {
                color: rgba(255, 204, 0, 0.717);
                text-decoration: none;
                font-weight: 700;
            }

        }



    }


    /* header */

    /* main_contacto */
    .main__contacto {
        display: block;
    }

    .main__contacto-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .main__parrafo-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    /* main_contacto */

    /* sobrenosotros_main */
    .main__sobrenosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 40px;
            .sobrenosotros{
                grid-column: auto;
                grid-row: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                border: 3px solid black;
                border-radius: 10px;
                box-shadow: 5px 15px 20px;
                    &__titulo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 15px;
                    }
                    span{
                    margin: 10px;
                    }
                
            }
            .main__video{
                grid-column: auto;
                grid-row: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                    iframe {
                
                        width: 300px;
                        height: 300px;
                    }
                
            }
        }
        
        
        
        

    /* sobrenosotros_main */

    /* footer */

    footer {
        display: grid;
        grid-template-areas: "gmail"
            "redes"
            "derechos";
        background-color: rgba(255, 166, 0, 0.476);
        padding: 24px;
    }

    .footer__gmail {
        grid-area: gmail;
    }

    .footer__redes {
        grid-area: redes;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer__derechos {
        grid-area: derechos;
        display: flex;
        align-items: center;
        justify-content: center;
        
      
        
    }

    .footer__iconos {
        width: 70px;
        height: 70px;
        margin: 12px;
    }

    .footer__parrafo {
        width: auto;
        font-weight: 600;
        font-size: larger;
    }

    .parrafo {
        display: inline;
        border: 3px dashed black;
        border-width: auto;
        font-size: 15px;
    }

    /* footer */
}






/* @media (min-width: 576px) and (max-width: 992)*/

@media (min-width: 576px) and (max-width: 992px) {

    /* header */
    header {
        background-color: white;
        height: auto;
        margin: 10px;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .header__logo {
            width: 60px;
            height: 60px;

        }

        .header__lista {
            display: flex;
            list-style: none;
            padding: 0 16px;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        .header__nav {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header__item {
            padding: 20px;

            & a {
                color: rgba(255, 204, 0, 0.717);
                text-decoration: none;
                font-weight: 700;
            }

        }



    }


    /* header */

    /* main_contacto */
    .main__contacto {
        display: block;
    }

    .main__contacto-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .main__parrafo-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    /* main_contacto */

    /* sobrenosotros_main */
    .main__sobrenosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        flex-wrap: wrap;
        margin: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
            .sobrenosotros{
                grid-column: auto;
                grid-row: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                border: 3px solid black;
                border-radius: 10px;
                box-shadow: 5px 15px 20px;
                    &__titulo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 15px;
                    }
                    span{
                    margin: 10px;
                    }
                
            }
            .main__video{
                grid-column: auto;
                grid-row: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                
            }
        }
        
        
        
        

    /* sobrenosotros_main */


    /* footer */

    footer {
        display: grid;
        grid-template-areas: "gmail"
            "redes"
            "derechos";
        background-color: rgba(255, 166, 0, 0.476);
        padding: 24px;
    }

    .footer__gmail {
        grid-area: gmail;
    }

    .footer__redes {
        grid-area: redes;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer__derechos {
        grid-area: derechos;
        display: flex;
        align-items: center;
        justify-content: center;
      
        
    }

    .footer__iconos {
        width: 70px;
        height: 70px;
        margin: 12px;
    }

    .footer__parrafo {
        width: auto;
        font-weight: 600;
        font-size: larger;
    }

    .parrafo {
        display: inline;
        border: 3px dashed black;
        border-width: auto;
        font-size: 15px;
    }

    /* footer */

}