.main__parrafo {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black; }

.main__contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px; }

.main__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__parrafo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.main__p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 15px 20px; }

.carousel {
  border: 8px solid black;
  border-radius: 15px;
  box-shadow: 5px 15px 20px; }

.main__sobrenosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 40px; }

.sobrenosotros {
  text-align: center; }

.ubicacion {
  margin-top: 10px; }

/* footer */
footer {
  display: grid;
  grid-template-areas: "gmail gmail   redes " "gmail gmail   derechos";
  background-color: rgba(255, 166, 0, 0.476);
  padding: 24px; }

.footer__gmail {
  grid-area: gmail; }

.footer__redes {
  grid-area: redes;
  display: flex;
  justify-content: center; }

.footer__derechos {
  grid-area: derechos;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__iconos {
  width: 70px;
  height: 70px;
  margin: 12px; }

.footer__parrafo {
  width: auto;
  font-weight: 600;
  font-size: larger; }

.parrafo {
  display: inline;
  border: 3px dashed black;
  border-width: auto; }

/* header */
header {
  background-color: white;
  height: 70px;
  margin: 10px;
  border-bottom: 1px solid black; }

.header__logo {
  width: 60px;
  height: 60px; }

.header__logo:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s; }

.header__lista {
  display: flex;
  list-style: none;
  padding: 0 16px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1; }

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

.header__item {
  padding: 20px; }

.header__item a {
  color: rgba(255, 204, 0, 0.717);
  text-decoration: none;
  font-weight: 700; }

.header__item:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.5s; }

/* @media (min-width: 320px) and (max-width: 575px)*/
@media (min-width: 320px) and (max-width: 575px) {
  header {
    background-color: white;
    height: auto;
    margin: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .header__logo {
    width: 60px;
    height: 60px; }
  .header__lista {
    display: flex;
    list-style: none;
    padding: 0 16px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__item {
    padding: 20px; }
  .header__item a {
    color: rgba(255, 204, 0, 0.717);
    text-decoration: none;
    font-weight: 700; }
  /* header */
  /* main_contacto */
  .main__contacto {
    display: block; }
  .main__contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__parrafo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px; }
  /* main_contacto */
  /* sobrenosotros_main */
  .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 5px; }
  /* sobrenosotros_main */
  /* footer */
  footer {
    display: grid;
    grid-template-areas: "gmail" "redes" "derechos";
    background-color: rgba(255, 166, 0, 0.476);
    padding: 24px; }
  .footer__gmail {
    grid-area: gmail; }
  .footer__redes {
    grid-area: redes;
    display: flex;
    justify-content: center; }
  .footer__derechos {
    grid-area: derechos;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__iconos {
    width: 70px;
    height: 70px;
    margin: 12px; }
  .footer__parrafo {
    width: auto;
    font-weight: 600;
    font-size: larger; }
  .parrafo {
    display: inline;
    border: 3px dashed black;
    border-width: auto;
    font-size: 15px; }
  /* footer */ }

/* @media (min-width: 576px) and (max-width: 992)*/
@media (min-width: 576px) and (max-width: 992px) {
  /* header */
  header {
    background-color: white;
    height: auto;
    margin: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .header__logo {
    width: 60px;
    height: 60px; }
  .header__lista {
    display: flex;
    list-style: none;
    padding: 0 16px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__item {
    padding: 20px; }
  .header__item a {
    color: rgba(255, 204, 0, 0.717);
    text-decoration: none;
    font-weight: 700; }
  /* header */
  /* main_contacto */
  .main__contacto {
    display: block; }
  .main__contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__parrafo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px; }
  /* main_contacto */
  /* sobrenosotros_main */
  .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 5px; }
  /* sobrenosotros_main */
  /* footer */
  footer {
    display: grid;
    grid-template-areas: "gmail" "redes" "derechos";
    background-color: rgba(255, 166, 0, 0.476);
    padding: 24px; }
  .footer__gmail {
    grid-area: gmail; }
  .footer__redes {
    grid-area: redes;
    display: flex;
    justify-content: center; }
  .footer__derechos {
    grid-area: derechos;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__iconos {
    width: 70px;
    height: 70px;
    margin: 12px; }
  .footer__parrafo {
    width: auto;
    font-weight: 600;
    font-size: larger; }
  .parrafo {
    display: inline;
    border: 3px dashed black;
    border-width: auto;
    font-size: 15px; }
  /* footer */ }

* {
  margin: 0px;
  /* MARGEN EXTERNO */
  padding: 0px;
  /* MARGEN INTERNO */ }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: orange;
  text-shadow: 1px 1px 4px orange;
  margin: 10px; }

h2 {
  font-family: 'Pacifico', cursive;
  color: rgba(255, 166, 0, 0.476);
  display: flex;
  flex-direction: row;
  justify-content: center; }

p {
  padding: 0 16px; }

ul {
  list-style: none; }

/* selector de tipo ID # */
/* nomenclatura */
/* 1- camelCase => letraGrandeOscura */
/* 2- snake_case => letra_grande_oscura */
/* 3- kebab-case => letra-grande-oscura */
